<!-- comics.component.html -->

<div class="row">
  <div *ngFor="let comic of comics" class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body text-center d-flex flex-column align-items-center">
        <h5 class="card-title font-weight-bold mb-2" style="font-size: 1rem;">{{ comic.title }}</h5>
        <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" class="card-img-top" alt="{{ comic.title }}" style="height: 200px; object-fit: contain;">
        <!-- Add other details of the comic as needed -->
        <button class="btn btn-secondary mt-2" (click)="fetchCharactersForComic(comic.id)">Characters</button>
      </div>
    </div>
  </div>
</div>
