<!-- marvel.component.html -->

<div class="characters-container">
  <div *ngFor="let character of marvelCharacters" class="character-card">
    <h2>{{ character.name }}</h2>
    <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" alt="{{ character.name }}" style="height: 300px; object-fit: cover;">
    
    <!-- Boutons -->
    <div class="buttons-container">
      <button class="series" (click)="fetchSeries(character.id)">Series</button>
      <button class="comics" (click)="fetchComics(character.id)">Comics</button>
      <button class="description" (click)="openCharacterDescriptionDialog(character.id)">Description</button>      
    </div>
  </div>
</div>
