<!-- comic-dialog.component.html -->
<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Comics</h5>
      <button type="button" class="close" (click)="dialogRef.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div *ngFor="let comic of data.comics" class="col-md-4 mb-3">
          <div class="card">
            <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" class="card-img-top" alt="{{ comic.title }}" style="height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">{{ comic.title }}</h5>
              <!-- Ajoutez d'autres détails du comic selon vos besoins -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  